{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}
    {{ meetup.title }}
{% endblock %}

{%block site_css %}
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %}
    {{ meetup.title }}
{% endblock %}

{% block body %}

{% if meetup_found  %}
<article>
    <img id="main-image" src="{{ meetup.image.url }}" alt="{{ meetup.title }}">

    <section id="location">
        <h2>Side Location</h2>
        <address>Denne side hører til <span>{{ meetup.location.name }}</span> ({{ meetup.location.address }}).</address>

    </section>

    <section id="details">
        <h2>Denne side fortæller om...</h2>
        <p>{{ meetup.description }}</p>
        <footer>
            <p>Mangler flere informationer, <a href="">kontakt os.</a> Men kun seriøse henvendelser</p>
        </footer>
    </section>
    <section id="registration">
        <h2>Join us</h2>
        FORM
    </section>
</article>
{% else %}
<p>No meetup found for this slug, sorry</p>
{% endif %}

{% endblock %}
        
   